<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <title>Default Core System</title>
    <link rel="icon" href="image/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../css/layout.css"/>
    <link rel="stylesheet" href="../element-ui/css/element.css">
</head>
<body>
我是首页
</body>
<style>
    body {
        background-color: #f0f2f5;
        color: #333;
    }
</style>
</html>